# EDA

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('spambase.data')
data.shape

(4600, 58)

In [3]:
data.head()

,0,0.64,0.64.1,0.1,0.32,0.2,0.3,0.4,0.5,0.6,...,0.40,0.41,0.42,0.778,0.43,0.44,3.756,61,278,1
0,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
1,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
2,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,1.85,0.00,0.00,1.85,0.00,0.00,...,0.00,0.223,0.0,0.000,0.000,0.000,3.000,15,54,1

In [4]:
data.set_axis(["make", "address","all", "3d", "our", "over", "remove", "internet", "order", "mail", "receive", "will", "people", "report", "addresses", "free", "business", "email", "you", "credit", "your", "font", "000", "money", "hp", "hpl", "george", "650", "lab", "labs", "telnet", "857", "data", "415", "85", "technology", "1999", "parts", "pm", "direct", "cs", "meeting", "original", "project", "re", "edu", "table", "conference", ";","(", "[", "!", "$", "#", "length_average", "length_longest", "length_total", "spam_or_not"], axis="columns", inplace=True)

In [5]:
data.head()

,make,address,all,3d,our,over,remove,internet,order,mail,...,;,(,[,!,$,#,length_average,length_longest,length_total,spam_or_not
0,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
1,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
2,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,1.85,0.00,0.00,1.85,0.00,0.00,...,0.00,0.223,0.0,0.000,0.000,0.000,3.000,15,54,1

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 58 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   make            4600 non-null   float64
 1   address         4600 non-null   float64
 2   all             4600 non-null   float64
 3   3d              4600 non-null   float64
 4   our             4600 non-null   float64
 5   over            4600 non-null   float64
 6   remove          4600 non-null   float64
 7   internet        4600 non-null   float64
 8   order           4600 non-null   float64
 9   mail            4600 non-null   float64
 10  receive         4600 non-null   float64
 11  will            4600 non-null   float64
 12  people          4600 non-null   float64
 13  report          4600 non-null   float64
 14  addresses       4600 non-null   float64
 15  free            4600 non-null   float64
 16  business        4600 non-null   float64
 17  email           4600 non-null   float64
 18  you             4600 non-null   float64
 19  credit          4600 non-null   float64
 20  your            4600 non-null   float64
 21  font            4600 non-null   float64
 22  000             4600 non-null   float64
 23  money           4600 non-null   float64
 24  hp              4600 non-null   float64
 25  hpl             4600 non-null   float64
 26  george          4600 non-null   float64
 27  650             4600 non-null   float64
 28  lab             4600 non-null   float64
 29  labs            4600 non-null   float64
 30  telnet          4600 non-null   float64
 31  857             4600 non-null   float64
 32  data            4600 non-null   float64
 33  415             4600 non-null   float64
 34  85              4600 non-null   float64
 35  technology      4600 non-null   float64
 36  1999            4600 non-null   float64
 37  parts           4600 non-null   float64
 38  pm              4600 non-null   float64
 39  direct          4600 non-null   float64
 40  cs              4600 non-null   float64
 41  meeting         4600 non-null   float64
 42  original        4600 non-null   float64
 43  project         4600 non-null   float64
 44  re              4600 non-null   float64
 45  edu             4600 non-null   float64
 46  table           4600 non-null   float64
 47  conference      4600 non-null   float64
 48  ;               4600 non-null   float64
 49  (               4600 non-null   float64
 50  [               4600 non-null   float64
 51  !               4600 non-null   float64
 52  $               4600 non-null   float64
 53  #               4600 non-null   float64
 54  length_average  4600 non-null   float64
 55  length_longest  4600 non-null   int64
 56  length_total    4600 non-null   int64
 57  spam_or_not     4600 non-null   int64
dtypes: float64(55), int64(3)
memory usage: 2.0 MB

In [7]:
data.describe()

,make,address,all,3d,our,over,remove,internet,order,mail,...,;,(,[,!,$,#,length_average,length_longest,length_total,spam_or_not
count,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,...,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000
mean,0.104576,0.212922,0.280578,0.065439,0.312222,0.095922,0.114233,0.105317,0.090087,0.239465,...,0.038583,0.139061,0.016980,0.268960,0.075827,0.044248,5.191827,52.170870,283.290435,0.393913
std,0.305387,1.290700,0.504170,1.395303,0.672586,0.273850,0.391480,0.401112,0.278643,0.644816,...,0.243497,0.270377,0.109406,0.815726,0.245906,0.429388,31.732891,194.912453,606.413764,0.488669
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.588000,6.000000,35.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.065000,0.000000,0.000000,0.000000,0.000000,2.275500,15.000000,95.000000,0.000000
75%,0.000000,0.000000,0.420000,0.000000,0.382500,0.000000,0.000000,0.000000,0.000000,0.160000,...,0.000000,0.188000,0.000000,0.314250,0.052000,0.000000,3.705250,43.000000,265.250000,1.000000
max,4.540000,14.280000,5.100000,42.810000,10.000000,5.880000,7.270000,11.110000,5.260000,18.180000,...,4.385000,9.752000,4.081000,32.478000,6.003000,19.829000,1102.500000,9989.000000,15841.000000,1.000000

In [8]:
data.loc[len(data.index)] = [0,0.64,0.64,0,0.32,0,0,0,0,0,0,0.64,0,0,0,0.32,0,1.29,1.93,0,0.96,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.778,0,0,3.756,61,278,1]
data.shape

(4601, 58)

# Model Building

In [9]:
x = data.drop(columns=['spam_or_not'])
y = data['spam_or_not']

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [11]:
x_train.shape, x_test.shape

((3680, 57), (921, 57))

# Model Training

In [12]:
from sklearn.neighbors import KNeighborsClassifier
model1 = KNeighborsClassifier()
model1.fit(x_train, y_train)
acc = model1.score(x_test, y_test)
print('Accuracy == '+ str(acc))

Accuracy == 0.8099891422366993

In [13]:
from sklearn.tree import DecisionTreeClassifier
model2 = DecisionTreeClassifier()
model2.fit(x_train, y_train)
acc = model2.score(x_test, y_test)
print('Accuracy == '+ str(acc))

Accuracy == 0.9185667752442996

# Hyperparameter Tuning

In [14]:
from sklearn.model_selection import GridSearchCV
model2.get_params()

{'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'random_state': None,
 'splitter': 'best'}

In [15]:
parameters = {'criterion':['gini', 'entropy', 'log_loss']}

grid_obj = GridSearchCV(estimator=model2, param_grid=parameters)
grid_fit = grid_obj.fit(x_train, y_train)
best_model = grid_fit.best_estimator_
print(best_model)

DecisionTreeClassifier(criterion='entropy')

c:\users\a\appdata\local\programs\python\python37\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
5 fits failed out of a total of 15.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
5 fits failed with the following error:
Traceback (most recent call last):
  File "c:\users\a\appdata\local\programs\python\python37\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\users\a\appdata\local\programs\python\python37\lib\site-packages\sklearn\tree\_classes.py", line 942, in fit
    X_idx_sorted=X_idx_sorted,
  File "c:\users\a\appdata\local\programs\python\python37\lib\site-packages\sklearn\tree\_classes.py", line 352, in fit
    criterion = CRITERIA_CLF[self.criterion](
KeyError: 'log_loss'

  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\users\a\appdata\local\programs\python\python37\lib\site-packages\sklearn\model_selection\_search.py:972: UserWarning: One or more of the test scores are non-finite: [0.91168478 0.91902174        nan]
  category=UserWarning,

In [16]:
best_model.score(x_test, y_test)

0.9326818675352877

# Save Model

In [17]:
import pickle
with open('predictor.pickle', 'wb') as file:
    pickle.dump(best_model,file)

In [18]:
pred_value = best_model.predict([[0.0, 0.0, 0.0049261083743842365, 0.0, 0.007389162561576354, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.007389162561576354, 0.0, 0.0, 0.0, 0.0, 0.012315270935960592, 0.0, 0.009852216748768473, 0.0, 0.0049261083743842365, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0024630541871921183, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0024630541871921183, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.048780487804878, 3, 86]])
pred_value

c:\users\a\appdata\local\programs\python\python37\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([1.])